services:
  - type: web
    name: gl1tch-agent
    env: docker
    plan: free
    autoDeploy: true
    healthCheckPath: /
    envVars:
      - key: PORT
        value: 8080
      - key: AGENT_NAME
        value: GL1TCH
      - key: OPENAI_API_KEY
        sync: false
      - key: N8N_BASIC_AUTH_USER
        value: rand0m.labzzz@gmail.com
      - key: N8N_BASIC_AUTH_PASSWORD
        sync: false